<h2 class="text-2xl mb-4 mt-6"><%= title %></h2>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile">
          <div class="fr-tile__body">
              <h4 class="fr-tile__title">
                <%= t('.appointments') %>
              </h4>
          </div>
          <div class="fr-tile__img">
            <span class="fr-fi-calendar-line icon-xl" aria-hidden="true"></span>
          </div>
      </div>
  </div>
  <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile">
          <div class="fr-tile__body">
              <h4 class="fr-tile__title">
                <%= t('.contacts') %>
              </h4>
          </div>
          <div class="fr-tile__img">
            <span class="fr-fi-mail-line icon-xl" aria-hidden="true"></span>
          </div>
      </div>
  </div>
</div>

<section class="fr-accordion mt-8">
  <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106"><%= t('.data') %></button>
  </h3>
  <div class="fr-collapse" id="accordion-106">
    <%= t('.data_content_html') %>
  </div>
</section>
