<div data-controller="collapse" data-collapse-expanded-value="0">
  <div class='collapse-trigger collapse-trigger-blue' data-action="click->collapse#toggle keydown->collapse#toggle" data-collapse-target="label" tabindex="0">
    <span class="fr-icon-arrow-right-s-line collapse-menu-picto-blue collapse-picto-active" aria-hidden="true" data-collapse-target="pictoCollapsed"></span>
    <span class="fr-icon-arrow-down-s-line collapse-menu-picto-blue collapse-picto-inactive" aria-hidden="true" data-collapse-target="pictoExpanded"></span>

    <div class='collapse-title-blue'><%= content(:direction_collapse_title) %></div>
  </div>


  <div class='collapse-content static-content fr-hidden' data-collapse-target="content">
    <div>
      <% if defined?(image) %>
        <div class='direction-collapse-picture' ><%= image_tag image, alt: "Photo de l'entrée du lieu de convocation", class: 'direction-collapse-picture-img' %></div>
      <% end %>

      <%= content.html(:direction_collapse_first_rich_content) %>

      <%= link_to content(:direction_collapse_button_link), target: '_blank', class: 'static-google-map-link static-google-map-link-button fr-my-2w' do %>
        <%= content(:direction_collapse_button_text) %>
      <% end %>

      <%= content.html(:direction_collapse_second_rich_content) %>

      <% if content(:collapse_rich_content_good_practice).present? %>
        <div class="static-card static-good-practice-card">
          <i class='fa fa-thumbs-up 3x static-good-practice-thumb-up'></i>
          <div class="static-link-card-intro">
            <%= content.html(:collapse_rich_content_good_practice) %>
          </div>
        </div>
      <% end %>

      <% if content(:collapse_rich_content_alert).present? %>
        <div class="static-card static-important-card">
          <i class="fa fa-exclamation-triangle 3x static-important-exclamation-triangle"></i>
          <div class="static-link-card-intro">
            <%= content.html(:collapse_rich_content_alert) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
