<div class="fr-alert fr-alert--success">
  <p class="fr-alert__title"><%= t('.notice') %></p>
</div>
<div class="fr-container fr-py-4w px-12 lg:px-72">
  <h2 class="text-2xl mb-4"><%= t('.choose_password') %></h2>
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "convicts/shared/error_messages", resource: resource %>
    <%= f.hidden_field :invitation_token, readonly: true %>

    <% if f.object.class.require_password_on_accepting %>
      <%= f.label :password, class: "fr-label -mb-1" %>
      <div class="leading-none"><span class="text-xs text-gray-500"><%= t('.password_requirements') %></span></div>
      <%= f.password_field :password, autocomplete: "current-password", class: "fr-input mt-2 mb-4" %>

      <%= f.label :password_confirmation, class: "fr-label" %>
      <%= f.password_field :password_confirmation, class: "fr-input mb-4" %>
    <% end %>

    <%= f.submit t('.submit_button'), class: "fr-btn" %>
  <% end %>

  <%= render 'convicts/shared/marketing', title: t('.marketing_title') %>
</div>
