<div class="fr-container fr-py-6w px-12 lg:px-72">
  <h2><%= t('.change_your_password') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "convicts/shared/error_messages", resource: resource %>

    <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, t('.new_password'), class: "fr-label" %>
    <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "fr-input mb-6" %>

    <%= f.label :password_confirmation, t('.confirm_new_password'), class: "fr-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "fr-input mb-6" %>

    <%= f.submit t('.change_my_password'), class: "fr-btn mb-4" %>
  <% end %>

  <%= render "convicts/shared/links" %>
</div>
