<div class="fr-container fr-py-6w px-12 lg:px-72">
  <h2><%= t('.forgot_your_password') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "convicts/shared/error_messages", resource: resource %>

    <%= f.label :phone, class: "fr-label" %>
    <%= f.phone_field :phone, autocomplete: "tel", class: "fr-input mb-6" %>

    <%= f.submit t('.send_me_reset_password_instructions'), class: "fr-btn mb-4" %>
  <% end %>

  <%= render "convicts/shared/links" %>
</div>
