<div class='fr-container static-content-container'>
  <h1 class='static-title static-title-blue fr-mb-4w'><%=  @toto %><%= content(:main_title) %></h1>
  <div class='static-intro'><%= content.html(:main_rich_description) %></div>

  <h2 class='text-center fr-mt-8w fr-mb-4w'><%= content(:subtitle) %></h2>

  <div class="flex justify-center">
    <div class="fr-select-group">
      <%= select_tag "zip_code_selector", options_for_select(ZIP_CODES), {include_blank: t(".select_a_zip_code"), class: "fr-select"} %>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--gutters">
    <% repeater(:basic_card) do |card| %>
      <div class="fr-col-6 fr-col-lg-3 fr-mb-2w text-center">
        <%= link_to card.content(:card_title), card.content(:card_link), class: 'basic-card-link border-blue' %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'preparer_mon_rdv' %>

