<div class='static-info-page-header-wrapper'>
  <div class='static-info-page-header fr-container'>
    <div class='static-infos-page-header-icon'><%= image_pack_tag 'media/images/docs_reverse.svg' %></div>
    <div class='static-infos-page-header-content'>
      <h1 class='static-infos-page-header-category'><%= content(:category) %></h1>
      <h1 class='static-infos-page-header-title'><%= content(:main_title) %></h1>
      <div class='static-infos-page-header-subtitle'><%= content(:subtitle) %></div>
    </div>
  </div>
</div>

<div class='fr-container static-content-container'>
  <p class='fr-text fr-mb-2w'><%= content(:main_description) %></p>

  <% repeater(:rich_collapse) do |collapse| %>
    <%= render 'shared/collapse', collapse: collapse, collapse_style: "red"  %>
  <% end %>
</div>
