<div class="bg-white shadow relative">
  <div class="flex justify-center">
    <span class="inline-flex items-center px-3 py-1.5 rounded-full text-xs font-bold bg-green-600 text-white absolute -top-3.5"><%= t('.days_from_now', days: appointment.days_from_now) %></span>
  </div>
  <div class="p-8 lg:p-12">
    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <h3 class="text-xs mb-0 font-medium text-msj-blue uppercase mb-1"><%= t('.date_title') %></h3>
        <p class="text-md font-bold mb-0"><%= l(appointment.datetime, format: :clear) %></p>
      </div>
      <div class="sm:col-span-1">
        <h3 class="text-xs mb-0 font-medium text-msj-blue uppercase mb-1"><%= t('.address_title') %></h3>
        <p class="text-sm font-bold mb-0"><%= appointment.place_name %></p>
        <p class="text-sm font-bold mb-0"><%= appointment.place_address %></p>
        <%= link_to t('.map_link'), appointment.place_map_link, target: "_blank", class: "font-bold text-xs text-msj-blue mt-1" %>
    </div>
    </div>
    <%= link_to t('.detail'), appointments_path, class: "fr-btn mt-8" %>
  </div>
</div>
