<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).empty? ? 'Mon Suivi Justice' : yield(:title)%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Mon Suivi Justice est un service public numérique dédié à la réduction de l'absentéisme lors des convocations par le SPIP ou le SAP.">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= favicon_pack_tag 'media/images/favicon.ico', rel: 'icon', type:  'image/ico' %>
    <%= render 'shared/analytics' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    <div class='static-wrapper'>
      <%= render 'shared/staging_alert' %>
      <%= render 'shared/feedback_link' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>

  </body>

</html>
