<!DOCTYPE html>
<html>
  <head>
    <title>Mon Suivi Justice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Mon Suivi Justice est un service public numérique dédié à la réduction de l'absentéisme pour les rendez-vous avec le Ministère de la Justice.">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class='static-wrapper'>
      <% if ENV["APP"] == "mon-suivi-justice-public-staging" %>
        <div class="fr-alert fr-alert--info">
          <p class="fr-alert__title">Attention: vous êtes sur le site de Staging</p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>

  <%= render 'shared/footer' %>

</html>
