<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).empty? ? 'Mon Suivi Justice' : yield(:title)%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Mon Suivi Justice est un service public numérique dédié à la réduction de l'absentéisme lors des convocations par le SPIP ou le SAP.">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= render 'shared/analytics' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag 'gouvfr-module', type: 'module', 'data-turbo-track': 'reload', defer: true %>
    <%= javascript_include_tag 'gouvfr-nomodule', type: 'text/javascript', nomodule: true, 'data-turbo-track': 'reload', defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>

    <div class='static-wrapper'>
      <%= render 'shared/staging_alert' %>
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>
  </body>

</html>
